@import 'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.headerbutton {
  border: 1px solid #676d79;
  border-radius: 5px;
  padding: 0px 6px;
  margin: 5px 0 8px 8px;
}
.menu-style li {
  display: inline;
  float: left;
  padding: 0px 14px;
}
.section-headers {
  background: inherit;
  display: inline-block;
  padding: 20px 60px;
  margin-top: -180px;
  font-size: 14px;
  letter-spacing: .5em;
  text-transform: uppercase;
  position: relative;
}
.gradient-left {
  right: 100%;
  background: linear-gradient(to top right, rgba(0, 0, 0, 0) 70%, #303030 100%);
}
.gradient-right {
  left: 100%;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0) 70%, #303030 100%);
}
.gradient-hack {
  position: absolute;
  top: 19px;
  width: 20px;
  height: 20px;
  content: " ";
}
.font-icons {
  display: block;
  background: #484d55;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 26px;
  text-align: center;
  line-height: 40px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.details-btn {
  padding: 30px 45px;
  margin: 80px 45px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.075em;
}
.form-boxes {
  background: #ccc;
  box-shadow: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0px;
  padding: 0;
  border: 0;
}
body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
.header {
  line-height: 40px;
  background-color: #ECF0F1;
  color: #676d79;
  box-shadow: 0 0 1px 0 rgba(16, 16, 32, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header:after {
  content: '';
  display: table;
  clear: both;
}
.header .title {
  margin-top: 0px;
  float: left;
  font-size: 24px;
  margin: 8px 14px;
}
.header .menu {
  border: 1px solid #676d79;
  border-radius: 5px;
  padding: 0px 6px;
  margin: 5px 0 8px 8px;
  float: left;
}
.header .menu:after {
  content: '';
  display: table;
  clear: both;
}
.header .menu li {
  display: inline;
  float: left;
  padding: 0px 14px;
}
.header .external {
  border: 1px solid #676d79;
  border-radius: 5px;
  padding: 0px 6px;
  margin: 5px 0 8px 8px;
  float: left;
  width: 40px;
  padding: 0;
  text-align: center;
  color: #676d79;
}
.header .actions {
  float: right;
}
.header .actions a {
  float: left;
  color: #676d79;
}
.header .actions .back {
  border: 1px solid #676d79;
  border-radius: 5px;
  padding: 0px 6px;
  margin: 5px 0 8px 8px;
}
.header .actions .download {
  border: 1px solid #676d79;
  border-radius: 5px;
  padding: 0px 6px;
  margin: 5px 0 8px 8px;
  border: 1px solid #e7746f;
  background: #e7746f;
  color: #fff;
}
.header .socials {
  border: 1px solid #676d79;
  border-radius: 5px;
  padding: 0px 6px;
  margin: 5px 0 8px 8px;
  float: right;
}
.header .socials .social {
  float: left;
  width: 120px;
}
.header .socials:first-child {
  margin-top: 0;
}
.post-header {
  background: url('../img/banner.jpg') center center;
  background-size: cover;
  text-decoration: none;
  text-align: center;
  height: 500px;
}
.post-header .menu {
  border: 1px solid #676d79;
  border-radius: 5px;
  padding: 0px 6px;
  margin: 5px 0 8px 8px;
  margin: 100px auto 150px auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 12px;
}
.post-header .menu li {
  display: inline;
  float: left;
  padding: 0px 14px;
}
.post-header .menu:after {
  content: '';
  display: table;
  clear: both;
}
.post-header .menu a {
  color: rgba(255, 255, 255, 0.5);
}
.post-header h1 {
  margin: 0 auto;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-size: 30px;
}
.post-header h1 a {
  color: #fff;
}
.post-header h2 {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 12px;
  display: inline-block;
  margin-top: 16px;
}
section {
  padding: 0 0 40px;
  text-align: center;
}
.introduction {
  background: #e97770 url('../img/overlay.png');
}
.introduction .section-title {
  background: inherit;
  display: inline-block;
  padding: 20px 60px;
  margin-top: -180px;
  font-size: 14px;
  letter-spacing: .5em;
  text-transform: uppercase;
  position: relative;
  color: rgba(255, 255, 255, 0.75);
}
.introduction .section-title:before,
.introduction .section-title:after {
  position: absolute;
  top: 19px;
  width: 20px;
  height: 20px;
  content: " ";
}
.introduction .section-title:before {
  right: 100%;
  background: linear-gradient(to top right, rgba(0, 0, 0, 0) 70%, #303030 100%);
}
.introduction .section-title:after {
  left: 100%;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0) 70%, #303030 100%);
}
.introduction .style1 {
  color: rgba(255, 255, 255, 0.75);
  margin: 70px auto;
  letter-spacing: 0.02em;
  font-size: 24px;
}
.introduction .style2 {
  font-size: 2.75em;
  letter-spacing: 0.075em;
  line-height: 1.35em;
  padding: 20px 40px;
  margin: 10px 60px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 10px;
}
.introduction .style3 {
  margin: 50px 140px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.75);
}
.introduction .style3 a {
  text-decoration: underline;
  color: #fff;
}
.introduction .style3 b {
  color: #fff;
}
.introduction .style4 a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.1em;
  padding: 18px 30px;
  background: #2f333b url('../img/overlay.png');
  display: inline-block;
  border-radius: 8px;
  margin-bottom: 60px;
}
.details {
  background: #fff;
}
.details .section-title {
  background: inherit;
  display: inline-block;
  padding: 20px 60px;
  margin-top: -180px;
  font-size: 14px;
  letter-spacing: .5em;
  text-transform: uppercase;
  position: relative;
  color: #676d79;
}
.details .section-title:before,
.details .section-title:after {
  position: absolute;
  top: 19px;
  width: 20px;
  height: 20px;
  content: " ";
}
.details .section-title:before {
  right: 100%;
  background: linear-gradient(to top right, rgba(0, 0, 0, 0) 70%, #303030 100%);
}
.details .section-title:after {
  left: 100%;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0) 70%, #303030 100%);
}
.details img {
  margin: 40px auto;
}
.details .style1 {
  font-size: 28px;
  letter-spacing: 0.1em;
  color: #484d55;
  margin-top: 60px;
  margin-bottom: 40px;
}
.details .style2 {
  color: #b1b4b9;
  display: block;
  font-size: 20px;
  letter-spacing: 0.075em;
  margin-bottom: 60px;
}
.details .row {
  text-align: left;
  display: inline-block;
  width: 400px;
  margin: 20px 40px;
}
.details .row i {
  display: block;
  background: #484d55;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 26px;
  text-align: center;
  line-height: 40px;
  margin-right: 20px;
  margin-bottom: 40px;
  float: left;
}
.details .row h3 {
  color: #e97770;
}
.details .row p {
  color: #919499;
}
.details .row .row-left,
.details .row .row-right {
  text-align: left;
  display: inline-block;
  width: 400px;
  margin: 20px 40px;
}
.details li {
  display: inline-block;
  list-style: none;
  margin-top: 60px;
  margin-bottom: 60px;
}
.details li .red-btn {
  background: #e97770;
  color: #fff;
  padding: 30px 45px;
  margin: 80px 45px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.075em;
}
.details li .white-btn {
  padding: 30px 45px;
  margin: 80px 45px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.075em;
  color: #676d79;
  box-shadow: inset 0px 0px 2px 0px #a0a1a7;
}
.endorsements {
  background: rgba(255, 255, 255, 0.45) url('../img/overlay.png');
}
.endorsements:after {
  content: '';
  display: table;
  clear: both;
}
.endorsements .section-title {
  background: inherit;
  display: inline-block;
  padding: 20px 60px;
  margin-top: -180px;
  font-size: 14px;
  letter-spacing: .5em;
  text-transform: uppercase;
  position: relative;
  color: #676d79;
}
.endorsements .section-title:before,
.endorsements .section-title:after {
  position: absolute;
  top: 19px;
  width: 20px;
  height: 20px;
  content: " ";
}
.endorsements .section-title:before {
  right: 100%;
  background: linear-gradient(to top right, rgba(0, 0, 0, 0) 70%, #303030 100%);
}
.endorsements .section-title:after {
  left: 100%;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0) 70%, #303030 100%);
}
.endorsements .style1 {
  display: block;
}
.endorsements .style2 {
  display: inline-block;
  width: 300px;
  margin: 30px;
}
.endorsements .style2 img {
  margin-bottom: 40px;
}
.endorsements .style2 .style3 {
  color: #e97770;
}
.endorsements .style2 h3 {
  margin: 30px;
}
.endorsements .style2 p {
  color: darkgrey;
  margin-bottom: 40px;
}
.endorsements .style2 .style4 {
  background: #e97770;
  color: #fff;
  padding: 30px 45px;
  margin: 80px 45px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.075em;
  padding: 15px 25px;
}
.rest {
  background: #282b34 url('../img/overlay.png');
}
.rest .section-title {
  background: inherit;
  display: inline-block;
  padding: 20px 60px;
  margin-top: -180px;
  font-size: 14px;
  letter-spacing: .5em;
  text-transform: uppercase;
  position: relative;
  color: #fff;
}
.rest .style1 {
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.3em;
  font-weight: 600;
  margin: 60px 0;
}
.rest .style2 {
  color: #b1b4b9;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.3em;
  margin: 60px 0;
}
.pre-footer {
  background: #282b34 url('../img/overlay.png');
  height: 450px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.pre-footer .formular {
  width: 50%;
  float: left;
}
.pre-footer .formular .name-field {
  float: left;
  width: 48.4%;
  background: #ccc;
  box-shadow: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  margin-left: 0;
}
.pre-footer .formular .email-field {
  float: left;
  width: 48.4%;
  background: #ccc;
  box-shadow: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  margin-right: 0;
}
.pre-footer .formular .style3 {
  width: 100%;
}
.pre-footer .formular .style3 .text-field {
  background: #ccc;
  box-shadow: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  margin: 20px 0 0 0;
  height: 100px;
}
.pre-footer .formular .send-btn {
  padding: 30px 45px;
  margin: 80px 45px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.075em;
  color: #676d79;
  background: #e97770;
}
.pre-footer .formular .send-btn:hover {
  cursor: pointer;
}
.pre-footer .formular .submit-btn {
  padding: 30px 45px;
  margin: 80px 45px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.075em;
  background: none;
  border: 1px solid #ccc;
  color: #676d79;
}
.pre-footer .formular .submit-btn:hover {
  cursor: pointer;
}
.pre-footer .block-right {
  width: 50%;
  float: left;
  text-align: left;
}
.pre-footer .block-right h3 {
  color: #e97770;
}
.pre-footer .block-right .quarter-left {
  width: 50%;
  float: left;
}
.pre-footer .block-right .quarter-left h3 {
  margin-bottom: 20px;
}
.pre-footer .block-right .quarter-left .address {
  margin-left: 30px;
}
.pre-footer .block-right .quarter-left .address i {
  display: block;
  background: #484d55;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 26px;
  text-align: center;
  line-height: 40px;
  margin-right: 20px;
  margin-bottom: 40px;
  margin: 0 10px 110px 0;
  float: left;
}
.pre-footer .block-right .quarter-left .address .contact-flow {
  flow: left;
  width: 200px;
}
.pre-footer .block-right .quarter-left .address p {
  color: #676d79;
  line-height: 26px;
  margin-bottom: 60px;
}
.pre-footer .block-right .quarter-left .social {
  margin-left: 30px;
}
.pre-footer .block-right .quarter-left .social i {
  display: block;
  background: #484d55;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 26px;
  text-align: center;
  line-height: 40px;
  margin-right: 20px;
  margin-bottom: 40px;
  margin: 0 10px 110px 0;
  float: left;
}
.pre-footer .block-right .quarter-left .social p {
  color: #FCFFF5;
  text-decoration: underline;
  line-height: 26px;
}
.pre-footer .block-right .quarter-right {
  width: 50%;
  float: left;
}
.pre-footer .block-right .quarter-right h3 {
  margin-bottom: 20px;
}
.pre-footer .block-right .quarter-right .email i {
  display: block;
  background: #484d55;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 26px;
  text-align: center;
  line-height: 40px;
  margin-right: 20px;
  margin-bottom: 40px;
  margin: 0 10px 110px 0;
  float: left;
}
.pre-footer .block-right .quarter-right .email p {
  color: #FCFFF5;
  text-decoration: underline;
  margin-bottom: 172px;
}
.pre-footer .block-right .quarter-right .phone i {
  display: block;
  background: #484d55;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 26px;
  text-align: center;
  line-height: 40px;
  margin-right: 20px;
  margin-bottom: 40px;
  margin: 0 10px 110px 0;
  float: left;
}
.pre-footer .block-right .quarter-right .phone p {
  color: #676d79;
}
footer {
  background: #282b34 url('../img/overlay.png');
  color: rgba(255, 255, 255, 0.25);
  height: 140px;
  text-align: center;
}
footer ul {
  border: 1px solid #676d79;
  border-radius: 5px;
  padding: 0px 6px;
  margin: 5px 0 8px 8px;
  margin: 40px auto 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 12px;
  text-align: center;
}
footer ul li {
  display: inline;
  float: left;
  padding: 0px 14px;
}
footer ul:after {
  content: '';
  display: table;
  clear: both;
}
footer ul a {
  color: rgba(255, 255, 255, 0.5);
}
footer li {
  display: inline-block;
  padding: 10px 14px;
}
footer a {
  color: rgba(255, 255, 255, 0.25);
  text-decoration: underline;
}
